<main>
	<header>
		<h1>{{pageTitle}}</h1>
		<hr>
	</header>
    <section class="blog-container">
		<div>
			{{#each list}}
			<article id="{{date.month}}" class="card">
				<figure>
					<img src="{{image}}" alt="" title="{{title}}" />
				</figure>
				<footer class="do-blog-post-date">
					<time datetime="{{{date.full}}}">
						<span class="do-post-date">{{date.day}}</span>
						<span class="do-post-month">{{date.month}}</span>
						<span class="do-post-month">{{date.year}}</span>
					</time>
					<h2>{{{title}}}</h2>
					<p>{{{lead}}}</p>
					<a href="{{link}}" class="link">Read post</a>
				</footer>
			</article>
			{{/each}}
		</div>
		<aside>
			<!-- <form class="search" action="/blog" method="POST">
				<input type="text" name="search" value="{{searchvalue}}" placeholder="search">
			</form> -->
			<h3>Archive</h3>
			<ul>
				<li><a href="#feb">Februari 2017</a></li>
				<li><a href="#Mar">March 2017</a></li>
				<li><a href="#Apr">April 2017</a></li>
				<li><a href="#May">May 2017</a></li>
				<li><a href="#Jun">June 2017</a></li>
			</ul>
		</aside>
    </section>
</main>
