<main>
    <h1>{{pageTitle}}</h1>
    <section class="card-overview">
        {{#each list}}
            <article class="card">
					<figure>
						{{#if image}}
						<img src="{{image}}" alt="" title="{{title}}" />
						{{/if }}
					</figure>
					<figcaption>
						<h2>{{{title}}}</h2>
						<a href="{{link}}" class="link">View</a>
					</figcaption>
	                <footer class="do-blog-post-date">
	                    <time datetime="{{{date.full}}}">
	                        <span class="do-post-date">{{date.day}}</span>
	                        <span class="do-post-month">{{date.month}}</span>
	                    </time>
	                </footer>
            </article>
        {{/each}}
    </section>
</main>
