<main>
    <section class="blogpost">
        <article>
            <figure>
                <img src="{{image}}" alt="Blog Single Image">

                <figcaption class="do-post-format-icon">
                    <i class="fa fa-quote-right"></i>
                </figcaption>
            </figure>
            <section class="content">
                <section>
					<h1>{{{title}}}</h1>
					<hr>
                    <time datetime="{{{fullDate}}}">
                        <span class="do-post-date">{{day}}</span>
                        <span class="do-post-month">{{month}}</span>
                    </time>
                </section>

                {{{content}}}

				<section class="author">
					<h4>Author: {{author}}</h4>
				</section>
            </section>
        </article>
    </section>
</main>
