<main>
  <h1>{{{pageTitle}}}</h1>
    <section class="blogposts">
        <!-- BLOG SINGLE CONTENT -->
        <article>
            <figure>
                <img width="200" src="{{image}}" alt="Blog Single Image">

                <figcaption class="do-post-format-icon">
                    <i class="fa fa-quote-right"></i>
                </figcaption>
            </figure>

            <section class="content">
                <!--  POST TITLE -->
                <section>
                    <time datetime="{{{fullDate}}}">
                        <span class="do-post-date">{{day}}</span>
                        <span class="do-post-month">{{month}}</span>
                    </time>
                    <h1>{{{title}}}</h1>
                </section>
                <!--  POST TITLE END-->

                <!--  POST TEXT -->
                {{{content}}}
                <!-- <a href="#.com" class="do-btn-round-outline">SHARE</a> -->
                <!--  POST TEXT END -->
				<section class="author">
					<h4>Author: {{author}}</h4>
				</section>
            </section>
        </article>
        <!-- BLOG SINGLE CONTENT END -->

    </section>
</main>
