    <section>
            <article>
                <figure>
                    <img src="{{image}}" alt="Blog Single Image">

                    <figcaption class="do-post-format-icon">
                        <i class="fa fa-quote-right"></i>
                    </figcaption>
                </figure>

                <section class="content">
                    <header>
                        <time datetime="{{{date.full}}}">
                            <span class="do-post-date">{{date.day}}</span>
                            <span class="do-post-month">{{date.month}}</span>
                        </time>
                        <h1>{{{title}}}</h1>
                    </header>

                    {{{content}}}
                    <a href="www.daskas.nl" class="do-btn-round-outline">View</a>
                </section>
            </article>
        <!-- <footer>
            <ul>
                <li>
                    Projects
                    <span>99</span>
                </li>
                <li>
                    Projects
                    <span>99</span>
                </li>
                <li>
                    Projects
                    <span>99</span>
                </li>
                <li>
                    Projects
                    <span>99</span>
                </li>
            </ul>
        </footer>
        <footer></footer> -->
    </section>
