<main id="work-overview">
	<header class="header">
		<h1>{{pageTitle}}</h1>
		<hr>
	</header>
    <section class="card-container">
        {{#each list}}
            <article class="card">
                <figure>
                    <img src="{{image}}" alt="" title="{{title}}" />
                </figure>
                <figcaption>
                    <h2>{{{title}}}</h2>
                    <a href="{{link}}" class="link">View</a>
                </figcaption>
            </article>
        {{/each}}
    </section>
</main>
