<main>
    <h1>{{pageTitle}}</h1>
    <p>Here is a list of some works I have made</p>
    <section class="blog-overview">

        {{#each list}}
            <article class="item">
                <figure>
                    <img src="{{image}}" alt="" title="{{title}}" />
                </figure>
                <figcaption>
                    <h2>{{{title}}}</h2>
                    <p>{{summary}}</p>
                    <a href="{{link}}" class="link">View</a>
                </figcaption>
            </article>
        {{/each}}
    </section>
</main>
